.container-fluid{
    height: 470px;
    width: 700px;
}
img{
    width: 20%;
    height: auto;
}
table{
    border: 2px solid;
    text-align: left;
    
}
button{
    background-color: rgba(243,118,56,255);
    border: 0px;
    color:white;
}